body{
    background-image: url(imagen/material-escolar-manzana.jpg);
    background-size:cover   ;
    background-repeat: no-repeat;
    background-attachment: fixed  ;
}

.titulo{
    
    width: 100%;
    height: 150px;
    background-color: rgb(61, 127, 22);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 40px;    
    box-shadow: 20px 20px 30px rgb(239, 234, 234) ;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

#cuadradito_invisible_texto{
    width: 700px;
    height:fit-content ;
    margin: auto;
    margin-top: 150px;
    background-color: rgb(183, 47, 183);
    text-align: center;
    padding: 10px;
}
.p1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 170%;
}